/* Mobile devices (phones) */
@media (max-width: 767px) {
    body.body-bg{
        background-size: contain;
        background-repeat: repeat;
    }
    .outer-box{
        height: auto;
    }
}

/* iPads (tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
    
}
